
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
@import "~bootswatch/dist/Pulse/variables";
@import '~bootstrap/scss/bootstrap';
@import "~bootswatch/dist/Pulse/bootswatch";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.project-card {
    a {
        color:black;
    }
    a:hover{
        opacity:1;
        text-decoration: none;
        background-color: #f8f8f8;
    }
}
.project-share a {
    background-color: #fffded;
}
