
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
@import "~bootswatch/dist/Pulse/variables";
@import '~bootstrap/scss/bootstrap';
@import "~bootswatch/dist/Pulse/bootswatch";
@import "./nprogress.css";
@import "~rc-cascader/assets/index.css";

.rc-cascader-menus {
    border-radius: 0;
    z-index:20;
    background: rgba(255,255,255, 0.9);
}
.rc-cascader-menu-item-active, .rc-cascader-menu-item:hover {
    background: #432c75;
    color:#FFFFFF;
}
.rc-cascader-menu-item-disabled:hover {
    background:transparent;
    color:#CCCCCC;
}
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.login, .register {
    max-width:600px;
    margin:0 auto;
}














.project-add {
    max-width: 600px;
    margin:0 auto;
}
.project-card {
    a {
        color:black;
        transition: all 0.3s ease-in-out;
        .text-center {
            transition: all 0.3s ease-in-out;
        }
    }
    a:hover{
        opacity:1;
        text-decoration: none;
        background-color: #efefef;
        //-webkit-transform:translateY(-6px);
        //transform: translateY(-6px);
        transition: all 0.3s ease-in-out;
        .text-center {
            transform:scale(1.05);
            -webkit-transform:scale(1.05);
            transition: all 0.3s ease-in-out;
        }
    }
}
.project-share a {
    background-color: #fffded;
}
.search-results {
    width:300px;
    right: 8px;
    top:38px;
    z-index: 1020;
    background-color: #FFFFFF;
    > .items:hover {
        background-color: #e4e4e4;
    }
}
.toast {
    position:fixed;
    right: 10px;
    top: 10px;
    z-index:2000;
    small {
        width:150px;
    }
}
.project {

}
.project-left {
    top:0;
    height:calc(100vh);
    width:300px;
    .project-left-posts {
        a {
            color: #303132;
            img {
                width: 15px;
                margin-top: -2px;
            }
            span {
                padding-left: 8px;
            }
        }
        a:hover, a.nav-link.actived{
            background-color: #e4e4e4 !important;
        }
    }
}
.project-right {
    width: calc(100% - 300px);
    .post-center {
        max-width:900px;
        margin:0 auto;
    }
}

.project-manager {
    max-width: 1100px;
    margin:0 auto;
    .manager-left {
        width: 180px;
        padding-right:20px;
        a {
            color: #303132;
        }
        a:hover, a.nav-link.active{
            color: #FFFFFF;
            background-color: #533691 !important;
        }
    }
    .manager-right {
        width: calc(100% - 200px);
    }
    .permission-search {
        left: 15px;
        top: 35px;
        min-width: 300px;
        .list-group-item:hover {
            background-color: #e4e4e4 !important;
        }
    }
}

#code-diff {
    code {
        color: #000000;
    }
}
